.normalCon{
    position:fixed;
    width:208px;
    height:206px;
    bottom:50px;
    right:20px;
    z-index:9998;
    transition:transform 0.1s ease;
}
.normalPic {
    display: block;
    position:relative;
    margin:0 auto;
    z-index:9998;
    width: 100px;
}
.normalDialog{
    display:block;
    font-size:10px;
    z-index:9997;
    text-align:center;
    width: 188px;
    margin:0 auto;
    padding:25px 10px 15px 10px;
    color:rgb(0, 43, 46);
}